<div class="text-center">
  <h1>Reviews#new</h1>
  <p>Find me in app/views/reviews/new.html.erb</p>
</div>

<div class="container">
  <div class="row padded">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render 'form_review' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= link_to "Cancel creation", restaurant_path(@restaurant) %>
    </div>
  </div>
</div>

